{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
            <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}Bitte korrigieren Sie den Fehler unten.{% plural %}Bitte korrigieren Sie die Fehler unten.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-info">
                {% trans "Bitte geben Sie aus Sicherheitsgründen Ihr altes Passwort ein und geben Sie dann Ihr neues Passwort zweimal ein, damit wir überprüfen können, ob Sie es richtig eingegeben haben." %}
            </div>
        </div>
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">{% trans 'Ändere mein Passwort' %}</button>
              &nbsp;<button type="reset" class="btn">{% trans 'Abbruch' %}</button>
            </div>
        </div>
    </form>
    </div>

{% endblock %}