{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	<!--[if lte IE 8]>
		<div class="alert alert-warning alert-dismissible">
            WebODM cannot be used with this version of Internet Explorer. Could you please upgrade <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> to the latest version or use <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
        </div>
	<![endif]-->

	{% if no_processingnodes %}
		<h3>{% trans 'Welcome! ☺' %}</h3>
		{% trans 'Add a Processing Node' as add_processing_node %}
		{% with nodeodm_link='<a href="https://github.com/OpenDroneMap/NodeODM" target="_blank">NodeODM</a>' api_link='<a href="https://github.com/OpenDroneMap/NodeODM/blob/master/docs/index.adoc" target="_blank">API</a>' %}
			<p>
			{% blocktrans %} 
				To get started, "{{ add_processing_node }}". A processing node is a computer running an instance of {{ nodeodm_link }} or some other software that implements this {{ api_link }}.
			{% endblocktrans %}
			</p>
		{% endwith %}
		<button class="btn btn-primary" onclick="location.href='{% url "admin:nodeodm_processingnode_add" %}';"><i class="fa fa-plus-circle"></i> {{ add_processing_node }}</button>
		
	{% else %}
		
		{% if no_tasks %}
			<h3>{% trans 'Herzlich willkommen! ☺' %}</h3>
			{% trans 'Select Images and GCP' as upload_images %}
			<p>
				{% blocktrans %} Um eine Karte zu erstellen, drücken Sie die "{{ upload_images }}" Schaltfläche oder ziehen Sie einige Bilder per Drag & Drop in ein Projekt. {% endblocktrans %}
			</p>
			<p>
				<ul>
					<li>{% trans 'Sie benötigen mindestens 5 Bilder' %}</li>
					<li>{% trans 'Bilder müssen sich um 65% oder mehr überlappen' %}</li>
					<li>{% trans 'Für großartiges 3D müssen sich Bilder um 83% überlappen' %}</li>
					<li>{% trans 'Eine <a href="https://github.com/OpenDroneMap/OpenDroneMap/wiki/Running-OpenDroneMap#running-odm-with-ground-control" target="_blank">GCP Datei</a> ist optional, kann jedoch die Genauigkeit der Georeferenzierung erhöhen' %}</li>
				</ul>
			</p>
		{% endif %}

		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}
